:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8aeeee;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--body-bg-color);
}

.container {
  display: flex;
  justify-content: right;
  height: 100vh;
  width: auto;
  gap: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 78px;
  height: 100%;
  background-color: var(--green);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

.main {
  width: calc(100% - 78px);
  height: 100vh;
  padding: 20px;
  color: var(--text-color);
  transition: all 0.2s;
}
#blogSection{
  margin-top: 5%;
}
.icon {
  width: 50px;
  height: 50px;
  background-color: var(--green);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1rem;
  padding: 15px;
  gap: 15px;
  transition: all 0.2s;
}

.icon:hover {
  background-color: var(--light-green) !important;
  cursor: pointer;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  transition: all 0.2s;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 10px;
  transition: all 0.2s;
}

.icon-logout {
  width: 100%;
  height: 60px;
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.icon-logout:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.main h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.logout-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-green);
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
}

.logout-container #logout-photo {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

#user-container {
  display: flex;
  flex-direction: column;
  gap: -5px;
}

#user-name {
  font-size: 0.9rem;
  font-weight: 500;
}

#user-role {
  font-size: 0.7rem;
  font-weight: 400;
}


/* added css for cards start here */
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  

}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  box-shadow: 0px 2px 0px 0px rgb(231, 231, 231);
}
.card i{
  color: #2f8159;
  font-size: 40px;
}


/* css cards ends here */

/* articles start here */
.formContainer {
  margin-top: 1%;
  margin-left: 25%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
}

.formContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
  width: 96%;
  padding: 10px;
  border: 1px solid #b9e7b3;
  border-radius: 5px;
}
.registerP{
	margin-left: 65%;
}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0DC58B;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: hsl(160, 66%, 18%);
}

.registerP a, .HomeH a{
	text-decoration: none;
	color:#0DC58B;
  font-weight: semi-bold;
}

.Thome{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.Thome a{
  text-decoration: none;
}

/* articles ends here */

/* Table start content */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td{
  color: black;
}

td{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}
/* Table ends here */
/* popup start here */

/* popup ends here */
/* CSS for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* media queries */

/* Media Query for small screens */
@media only screen and (max-width: 600px) {
  .cards {
  /* background-color: white; */
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  width: 50%;
  margin-left: 30%;
  font-size: 12px;
}

}


@media only screen and (max-width: 768px) {
  
table{
  width: 100%;
}
.container{
  width: 100%;
}
}
